html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: rgba(255, 255, 255, 0.288) url('../img/shuriken.jpg');
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}

/***************
** Scoreboard **
***************/

.score-panel {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    display: flex;
    color: #ffd700;
    margin: 0;
    padding: 0;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
}

.score-panel .timer {
    margin: 0;
    padding: 0;
    margin: 0 5px 0 0;
}

.score-panel .restart {
    cursor: pointer;
}

/****************
* Deck of Cards *
*****************/

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #ff9800 0%, #d83b30 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(40, 60, 75, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #36a079;
    font-size: 0;
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(40, 60, 75, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #e7e7cf;
}

.deck .card.show {
    font-size: 33px;
    pointer-events: none;
}

.deck .card.match {
    cursor: default;
    color: #eee;
    background: #2196f3;
    font-size: 33px;
    pointer-events: none;
}