html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 2.4rem;
    background: rgba(255, 255, 255, 0.288) url('../img/shuriken.jpg');
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0;
}

/***************
** Scoreboard **
***************/

.score-panel {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 42rem;
    margin-bottom: 1rem;
    background: #fff;
    padding: .6rem 1.2rem;
    border-radius: 1rem;
    box-shadow: 1.2rem 1.5rem 2rem 0 rgba(40, 60, 75, 0.5);
}

.score-panel .moves {
    width: 35%;
}

.score-panel .stars {
    display: flex;
    color: #ffd700;
    width: 35%;
    margin: 0;
    padding: 0;
}

.score-panel .stars li {
    list-style: none;
}

.score-panel .timer {
    width: 25%;
    margin: 0;
    padding: 0;
}

.score-panel .restart {
    cursor: pointer;
    transition: all 500ms ease;
}

.score-panel .restart:hover {
    transform: rotate(90deg);
}

/**********
** MODAL **
**********/
.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    height: 100vh;
    width: 100vw;
    
}

.message-box {
    z-index: 10;
    display: flex;
    align-items: center;
    background: #fff;
    height: 30rem;
    width: 72.5rem;
    border-radius: .5rem;
    box-shadow: 1.2rem 1.5rem 2rem 0 rgba(40, 60, 75, 0.5);
}

.modal img {
    width: 25rem;
    height: 25rem;
}

.modal .message {
    background: #fff;
    text-align: center;
}

.modal .total-stars {
    display: flex;
    justify-content: center;
    color: #ffd700;
    list-style: none;
    padding: 0;
}

.modal button {
    font-size: 1.6rem;
    height: 3rem;
    border-radius: 1rem;
}

.modal button:hover {
    cursor: pointer;
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.2);
}

/****************
* Deck of Cards *
*****************/

.deck {
    width: 66rem;
    min-height: 68rem;
    background: linear-gradient(160deg, #ff9800 0%, #d83b30 100%);
    padding: 3.2rem;
    border-radius: 1rem;
    box-shadow: 1.2rem 1.5rem 2rem 0 rgba(40, 60, 75, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem;
}

.deck .card {
    height: 12.5rem;
    width: 12.5rem;
    background: #36a079;
    font-size: 0;
    color: #333;
    border-radius: .8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .5rem .2rem 2rem 0 rgba(40, 60, 75, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #e7e7cf;
}

.deck .card.show {
    font-size: 3.3rem;
    pointer-events: none;
}

.deck .card.match {
    cursor: default;
    color: #eee;
    background: #2196f3;
    font-size: 3.3rem;
    pointer-events: none;
}